.project-nav-holder {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    background-color: none;
}

.more-btn {
    background-color: transparent;
    border: none;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-btn > img {
    width: 1.5rem;
    height: 1.5rem;
}

.more-btn:hover {
    cursor: pointer;
}