.project-container {
    background-color: var(--primaryColor);
    display: grid;
    /* For Fractional grid
    grid-template-columns: repeat(2fr 1fr);
    grid-template-rows: repeat(2fr 1fr);*/

    /* Controls sidebar width and nav height with rem */
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 2rem 1fr;

    grid-column-gap: 0px;
    grid-row-gap: 0px;

    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* Render Frame Styling */
.render-frame {
    grid-area: 2 / 2 / 3 / 3;
}

/* Chat bot bar */
.chat-bar-holder {
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.chat-bar,
.max-min-btn {
    margin-bottom: 2rem;
    margin-top: 0.4rem; /* Alter this if top blur gets cut off*/
}

.max-min-btn {
    margin-left: 3rem;
}

.chat-bar {
    /*background-image: linear-gradient(center, #FFFFFF, #E8E8EC);*/
    background-color: var(--primaryColor);

    box-shadow: 0 0.2rem 0.3rem #6c6c6c;
    border-radius: 5rem;
    overflow: hidden;
    bottom: 2rem;
    width: 50%;  /* Remove fixed width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding: 0rem 0.8rem;

    transition: width 0.3s ease, padding 0.3s ease;
}

.max-min-btn {
    background-color: var(--primaryColor);
    /*background-image: linear-gradient(to right, #FFFFFF, #E8E8EC);*/
    box-shadow: 0 0.3rem 0.5rem #6c6c6c;
    border-radius: 5rem;
    transition: 100ms ease-in-out;
}

.max-min-btn:hover {
    background-color: #e6e6e6;
    background-image: none;
    cursor: pointer;
}

.max-min-btn > img {
    padding: 0.2rem;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.6rem 0.6rem 0.3rem 0.6rem; /* This padding is related to v-------------< It controls height of all chat bar components*/
}

.input-hide-holder {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Grow to take up all available space */
    gap: 1rem;
}

.input-bar {
    background-color: var(--primaryColor);
    border: none;
    width: 100%; /* Take up all available space */
    padding: 0rem 0; /* This padding is related to ^-------------< */
    font-size: 1.1rem;
}

.input-bar:focus {
    outline: none; /* Remove the default focus outline */
    /* Add your desired focus styles here if needed */
}

.input-bar:focus .chat-bar{
    width: 40%;
    background-color: blue;
}

.hide-btn,
.send-btn {
    background-color: transparent;
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem; 
    transition: 100ms linear;
}

.hide-btn:hover,
.send-btn:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.hide-btn > img {
    width: 1.5rem;
    height: 1.5rem;
}

.send-btn > img {
    width: 1.5rem;
    height: 1.5rem;
}

/* Chat Display */
.chat-display {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6); 
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    color: black;
    border-radius: 1rem;
    overflow: hidden;
    position: fixed;
    bottom: 5.5rem;
    margin-left: 6rem;
    width: 52%;  /* Remove fixed width */
    max-height: 25rem; /* Sets desired max-height */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds max-height */
    scrollbar-width: none;
    transition: scroll-behavior 0.3s ease; /* Smooth scrolling behavior */
    user-select: text;
}

.hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.visible {
    height: auto;
    transition: height 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.60);
}

/*
.chat-display.show{
    height: auto;
}*/

.chat-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.chat-message-text {
    background-color: var(--primaryColor);
    font-weight: 200;
    line-height: 1.4rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid rgba(200, 200, 200);
    max-width: 70%;
}

.chat-message-text-user {
    border-radius: 2rem 2rem 0.5rem 2rem;
}

.chat-message-text-non-user {
    border-radius: 2rem 2rem 2rem 0.5rem;
}