.mysection {
    background-color: black;
    width: 50px;
    height: 50px;
}

.test {
    color: black;
}

.height600 {
    height: 800px;
    background-color: black;
}

.calendar-holder {
    max-height: 38rem;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}