.nav {
    background-color: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.list-container a{
    border-bottom: none;
    transition: linear 200ms;
    padding: 1.5rem;
}

.list-container a:hover{
    border-bottom: 3px black solid;
}

