.nav {
    background-color: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 580;
    margin: 1.5rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.list-container a{
    border-bottom: none;
    transition: linear 200ms;
    padding: 1.5rem;
}

/*
.nav .list-container li.active > a{
    border-bottom: 3px black solid;
}*/

.list-container .list-link:hover{
    border-bottom: 3px black solid;
}

.list-container #get-started{
    padding: 0.5rem;
    border: 1.5px black solid;
    background-color: none;
    border-radius: 10px;
    transition: linear 100ms;
    box-shadow: 0.15rem 0.15rem black;
}

.list-container #get-started:hover{
    /*box-shadow: 0rem 0rem none;
    border-bottom: 0.5px black solid;*/
    background-color: lightpink;
}