.initial-container .initial-container-item{
    align-items: center;
    text-align: center;
    margin: 6rem 0;
    font-family: 'Poppins', sans-serif;
}

.initial-container .initial-container-item{
    align-items: center;
}

.initial-container h1{
    font-size: 3.8rem;
    font-weight: 600;
    margin: 0;
}

.initial-smalltext{
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.initial-smalltext p{
    width: 25rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
}

.free-trial-btn{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 1rem;
    margin-top: 2rem;
    margin: 1rem;
    border: 3px black solid;
    background-color: none;
    border-radius: 10px;
    transition: linear 200ms;
    box-shadow: 0.2rem 0.2rem black;
}

.free-trial-btn:hover{
    /*color: black;
    box-shadow: none;*/
    background-color: lightcyan;
}


